---
layout: 'ar/base.njk'
ogType: article
---

<div class="article-content">
  <div class="article-content__header">
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
    <div class="art-info">
      <div class="div-author">
        <figure><img src="/assets/images/personal-image/personal-image.webp" alt="Elmouatez Benariba Personal Image"></figure>
        <span>المعتز بالله بن عريبة</span>
      </div>
      <span class="date">{{ date | postDateAr }}</span>
    </div>
  </div>
  <div class="article-content__main">
    {{ content | safe }}
  </div>
</div>