<!DOCTYPE html>
<html lang="ar">
<head>
  {% include 'ar/head.njk' %}
</head>
<body dir="rtl">
    {% include 'ar/header.njk' %}
  <main>
    <div class="container">
      {{ content | safe }}
    </div>
  </main>
    {% include 'ar/footer.njk' %}

  <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
  Prism.highlightAll();

  let a = document.querySelectorAll('p:has(img)');
  let b = document.querySelectorAll('p > img');

  for (const item of a) {
    item.classList.add('img-container');
    console.log(item);
  }

  for (const item of b) {
    item.classList.add('post-img');
    console.log(item);
  }
</script>
</body>
</html>