<!DOCTYPE html>
<html lang="ar">
<head>
  {% include 'ar/head.njk' %}
</head>
<body dir="rtl">
    {% include 'ar/header.njk' %}
  <main>
    <div class="container">
      {{ content | safe }}
    </div>
  </main>
    {% include 'ar/footer.njk' %}

  <script>
  Prism.highlightAll();

let imagesContainers = document.querySelectorAll('p:has(img)');
let images = document.querySelectorAll('p > img');
let postLinks = document.querySelectorAll('main a');

for (const item of imagesContainers) {
  item.classList.add('img-container');
}

for (const item of images) {
  item.classList.add('post-img');
}

for (const item of postLinks) {
  item.classList.add('underline', 'highlight');
}

  if (window.netlifyIdentity) {
  window.netlifyIdentity.on("init", user => {
    if (!user) {
      window.netlifyIdentity.on("login", () => {
        document.location.href = "/admin/";
      });
    }
  });
}
</script>
</body>
</html>