<!DOCTYPE html>
<htmlhead meta  lang="ar">
<head>
  {% include 'ar/head.njk' %}
</head>
<body dir="rtl">
    {% include 'ar/header.njk' %}
  <main>
    {{ content | safe }}
  </main>
    {% include 'ar/footer.njk' %}

  <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
  Prism.highlightAll();
</script>
</body>
</htmlhead>