  <header>
  <div class="container ar">
    <a href="/index.html" class="blog-name">مدونة المعتز بالله بن عريبة</a>
    <nav>
      <ul class="nav-list">
        <li class="nav-list__item"><a href="/ar/index.html">الرئيسية</a></li>
        <li class="nav-list__item"><a href="/index.html">الإنجليزية</a></li>
        <li class="nav-list__item"><a href="/ar/all-posts/index.html">المقالات</a></li>
        <li class="nav-list__item"><a href="https://mouatezbenariba.me/">الموقع</a></li>
      </ul>
    </nav>
  </div>
</header>