  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- SEO -->
  <meta name="author" content="Elmouatez Billah Benariba" />
  <meta name="author" content="Mouatez Benariba" />
  <meta name="author" content="المعتز بالله بن عريبة" />
  <meta
  name="description"
  content= {{ pageDescription }}
  />
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/assets/syntaxhighlight/prism-gruvbox-dark.css">
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <script src="/assets/syntaxhighlight/prism.js"></script>
  <title>{{ title }}</title>