  <div class="next-previous">
  {% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">الصفحة السابقة</a>{% endif %} 
  {% if pagination.href.next %}<a href="{{ pagination.href.next }}">الصفحة التالية</a>{% endif %} 
  </div>