<article class="article">
    <h2 class="article__title">
      <a href="{{post.url}}">{{ post.data.title }}</a>
    </h2>
    <p class="article__description">
      {{ post.data.description }}
    </p>
    <span class="article__tags">
      tagged:
      {% for tag in post.data.tags | excludeTags %}
        <span class="tag"><a href="/tags/{{ tag | slugify }}">{{ tag }}</a></span>
      {% endfor %}
    </span>
</article>