<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'head.njk' %}
</head>
<body>
    {% include 'header.njk' %}
  <main>
    <div class="container en">
      {{ content | safe }}
    </div>
  </main>
    {% include 'footer.njk' %}

  <script>
document.addEventListener("DOMContentLoaded", function() {
  // Your code that uses Prism goes here
  Prism.highlightAll();
});

let imagesContainers = document.querySelectorAll('p:has(img)');
let images = document.querySelectorAll('p > img');
let postLinks = document.querySelectorAll('.article-content__main a');

for (const item of imagesContainers) {
  item.classList.add('img-container');
}

for (const item of images) {
  item.classList.add('post-img');
}

for (const item of postLinks) {
  item.classList.add('underline', 'highlight');
}

  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
</body>
</html>