<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'head.njk' %}
</head>
<body>
  <div class="container">
    {% include 'header.njk' %}
  <main>
    {{ content | safe }}
  </main>
    {% include 'footer.njk' %}
  </div>

  <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
  Prism.highlightAll();
</script>
</body>
</html>