  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- SEO -->
  <meta name="author" content="Elmouatez Billah Benariba" />
  <meta name="author" content="Mouatez Benariba" />
  <meta name="author" content="المعتز بالله بن عريبة" />
  <meta
  name="description"
  content= "{{ pageDescription }}"
/>
  <!-- Open Graph Protocol - Facebook-->
  <meta property="og:url" content="https://blog.mouatezbenariba.me/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Elmouatez Billah Benariba" />
  <meta
    property="og:description"
    content= "{{ pageDescription }}"
  />
  <meta
    property="og:image"
    content="/assets/images/seo-images/mouatezbenaribablog-en.png"
  />
  <!-- Twitter Tags -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@mouatezbenariba" />
  <meta name="twitter:creator" content="@mouatezbenariba" />
  <meta name="twitte:creator:id" content="813264913" />
  <meta name="twitter:title" content="Elmouatez Billah Benariba" />
  <meta
    name="twitter:description"
    content= "{{ pageDescription }}"
  />
  <meta
    name="twitter:image"
    content="/assets/images/seo-images/mouatezbenaribablog-en.png"
  />
  <!-- favicons -->
  <link
    rel="apple-touch-icon"
    sizes="57x57"
    href="/assets/favicons/apple-icon-57x57.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="60x60"
    href="/assets/favicons/apple-icon-60x60.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="72x72"
    href="/assets/favicons/apple-icon-72x72.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="76x76"
    href="/assets/favicons/apple-icon-76x76.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="114x114"
    href="/assets/favicons/apple-icon-114x114.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="120x120"
    href="/assets/favicons/apple-icon-120x120.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="144x144"
    href="/assets/favicons/apple-icon-144x144.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="152x152"
    href="/assets/favicons/apple-icon-152x152.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/assets/favicons/apple-icon-180x180.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="192x192"
    href="/assets/favicons/android-icon-192x192.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/assets/favicons/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="96x96"
    href="/assets/favicons/favicon-96x96.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/assets/favicons/favicon-16x16.png"
  />
  <link rel="manifest" href="/manifest.json" />
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
  <meta name="theme-color" content="#ffffff" />
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/assets/syntaxhighlight/prism-gruvbox-dark.css">
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer></script>
  <script src="/assets/syntaxhighlight/prism.js" defer></script>
  <!-- preload font files -->
  <link
    rel="preload"
    href="/assets/fonts/cabinet-grotesk/CabinetGrotesk-Regular.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <title>{{ title }}</title>
  <!-- internal style -->
  <style>
    /* fonts */
    @font-face {
      font-family: 'CabinetGrotesk-Regular';
      src: url(/assets/fonts/cabinet-grotesk/CabinetGrotesk-Regular.woff2);
      font-display: optional;
    }
    body {
      font-family: 'CabinetGrotesk-Regular';
    }
  </style>