<header>
  <div class="container">
    <a href="/index.html" class="blog-name">Mouatez Benariba Blog</a>
    <nav>
      <ul class="nav-list">
        <li class="nav-list__item"><a href="/index.html">Home</a></li>
        <li class="nav-list__item"><a href="/my-blog/index.html">Posts</a></li>
        <li class="nav-list__item"><a href="https://mouatezbenariba.me/">Portfolio</a></li>
      </ul>
    </nav>
  </div>
</header>