<div class="next-previous">
  {% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Previous Page</a>{% endif %} 
  {% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next page</a>{% endif %} 
</div>