---
pagination:
  data: collections
  size: 1
  alias: tag
  filter: 
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: ar/base.njk
permalink: /ar/tags/{{ tag | slugify }}/
---
<section class="blog-posts">
  <h1>مقالات موسومة بـ: "{{ tag }}"</h1>
    {%- for post in collections[tag] -%}
      {% if post.data.lang == "ar" %}
        {% include "article-snippets.njk" %}
      {% endif %}
    {%- endfor -%}
</section>

{% include "pagination.njk" %}
