---
title: example
layout: 'base.njk'
---

  <div class="container">
    <div class="">
      <section class="welcome">
        <div class="welcome__text">
          <p>Welcome to my blog!</p>
        </div>
        <div class="welcome__media">
          <picture>
            <img
              src="./assets/images/personal-image.webp"
              alt="mouatez benariba personal image"
              width="150"
              class="personal-image"
            />
          </picture>
          <h1 class="media__name">Elmouatez Billah Benariba</h1>
          <p class="media__info">Frontend Developer &amp; Biotechnology Engineer</p>
        </div>
      </section>
    </div>
    <section class="featured-articles">
    {%- for post in collections.featured | reverse -%}
      <li>
        {% include "article-snippets.njk" %}
      </li>
    {%- endfor -%}
    </section>
  </div>