---
title: Elmouatez Benariba Billah Blog
pageDescription: Welcome to my blog! I'm Elmouatez Billah Benariba, a Frontend Developer and Biotechnology Engineer. Join me as I explore the latest in web development, technology, science, and more. Discover tips, tricks, and life hacks for maximum productivity and inspiration on your own journey.
layout: 'base.njk'
seoImage: /assets/images/seo-images/mouatezbenaribablog-en.png
---

<section class="welcome">
  <div class="welcome__text">
    <p>Welcome to my blog!</p>
  </div>
  <div class="welcome__media">
    <picture>
      <img
        src="./assets/images/personal-image/personal-image.webp"
        alt="mouatez benariba personal image"
        width="150" height="151"
        class="personal-image"
      />
    </picture>
    <h1 class="media__name">Elmouatez Billah Benariba</h1>
    <p class="media__info">Frontend Developer &amp; Biotechnology Engineer</p>
</section>
<section class="featured-articles">
  {%- for post in collections.featured | reverse -%}
    <li>
      {% if post.data.lang == "en" %}
        {% include "article-snippets.njk" %}
      {% endif %}
    </li>
  {%- endfor -%}
</section>