---
title: Blog
layout: 'base.njk'
pagination: 
  data: collections.post
  size: 3
  alias: posts
---

  <div>
  <h1>All Posts</h1>
  <ul class="articles">
      {%- for post in posts -%}
        {% include "article-snippets.njk" %}
      {%- endfor -%}
  </ul>
    {% include "pagination.njk" %}
  </div>
