---
layout: 'base.njk'
---

{% for post in collections.posts %}
  {% if post.data.tags and post.data.tags | contains(tag) %}
    <div class="blog-post">
      <h2>{{ post.data.title }}</h2>
      <p>{{ post.templateContent | truncate(100) }}</p>
      <a href="/blog/{{ post.fileSlug }}">Read more...</a>
    </div>
  {% endif %}
{% endfor %}